<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <style>
    img {
      width: 80px !important;
      height: auto;
    }
  </style>
  <div class="tech">
    <h2>Software</h2>
    <div id="software"></div>
    <p id=software></p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <div id="code"></div>
    <p id=code></p>
  </div>
  <div class="tech">
    <h2>Framework</h2>
    <div id="framework"></div>
    <p id="framework"></p>
  </div>
</div>

<script>
  var tech_p = [];
  var tech_img = [];

  var code_p = [];
  var code_img = [];

  var software_p = [];
  var software_img = [];

  response = $.ajax({
    url: "https://opensheet.elk.sh/13h8DPpPXoZ_C1lp2GmxH56H4mJJj0ecHXPCgY5X4TGc/Sheet1",
    method: "get",
    dataType: "json"
  }).always(function (data) {
    for (var i = 0; i < data.length; i++) {
      if (data[i].type == 'f') {
        tech_p.push(data[i].tech)
        tech_img.push('<img src="' + data[i].icon + '"/>')
      }
      if (data[i].type == 'c') {
        code_p.push(data[i].tech)
        code_img.push('<img src="' + data[i].icon + '"/>')
      }
      if (data[i].type == 's') {
        software_p.push(data[i].tech)
        software_img.push('<img src="' + data[i].icon + '"/>')
      }
    }


    $('p#framework').append(tech_p.join(", ")+".")
    $('p#code').append(code_p.join(", ")+".")
    $('p#software').append(software_p.join(", ")+".")

    $('div#framework').append(tech_img.join(""))
    $('div#code').append(code_img.join(""))
    $('div#software').append(software_img.join(""))
  })

</script>